@{
    Layout = "_Layout";
}

<!DOCTYPE html>

@section Styles {
    <!-- Add custom styles here if needed -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        /* Add custom styles here */
        .carousel-item img {
            height: 400px;
            object-fit: cover;
        }

        /* Add styles for category and popular content cards */
        .card-img-top {
            max-height: 200px;
            object-fit: cover;
        }

        /* Make the carousel full width */
        #carousel {
            width: 100%;
        }
    </style>
}

@section Scripts {
    <!-- Add custom scripts here if needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
}

<div class="container-fluid mt-4">
    <!-- Use container-fluid for full width -->
    <!-- Featured Movies Carousel -->
    <div id="carousel" class="carousel slide mb-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
                <a href="~/Movie/Index?title=Barbie">
                    <img src="~/Img/BarbieTheMovie.png" class="d-block w-100" alt="Barbie">
                </a>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <a href="~/Movie/Index?title=Jurassic%20Park">
                    <img src="~/Img/JurassicPark.jpg" class="d-block w-100" alt="JurassicPark">
                </a>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <a href="/Movie/Index?title=Spider-Man%3A%20Across%20the%20Spider-Verse">
                    <img src="~/Img/Spiderman.jpg" class="d-block w-100" alt="Spiderman">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Categories Section -->
    <h3 class="mb-3">Explore by Category</h3>

    <!-- Visible Categories -->
    <div class="row">
        <!-- Action Card -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/Img/Action.jpg" class="card-img-top" alt="Action">
                <div class="card-body">
                    <h5 class="card-title">Action</h5>
                    <p class="card-text"> High-octane blend of fast-paced sequences, daring stunts, and epic confrontations...</p>
                    <a href="~/Movie/Index?category=Action" class="btn btn-danger">Explore</a>
                </div>
            </div>
        </div>

        <!-- Family Card-->
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/Img/Children_Family.jpg" class="card-img-top" alt="Family">
                <div class="card-body">
                    <h5 class="card-title">Family</h5>
                    <p class="card-text">Heartwarming stories filled with adventure, humor, and lessons suitable for all ages...</p>
                    <a href="~/Movie/Index?category=Children_Family" class="btn btn-danger">Explore</a>
                </div>
            </div>
        </div>

        <!-- Comedy Card -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/Img/Comedy.jpg" class="card-img-top" alt="Comedy">
                <div class="card-body">
                    <h5 class="card-title">Comedy</h5>
                    <p class="card-text"> Laughter-inducing escapades, spotlighting the humorous side of life with wit and whimsy...</p>
                    <a href="~/Movie/Index?category=Comedy" class="btn btn-danger">Explore</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Hidden Categories -->
    <div id="additionalCategories" class="row d-none">
        <!-- Categories 4 to 9 here -->
        <!-- Drama Card -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/Img/Drama.jpg" class="card-img-top" alt="Drama">
                <div class="card-body">
                    <h5 class="card-title">Drama</h5>
                    <p class="card-text">Emotionally rich narratives that delve into the complexities and profundities of the human condition...</p>
                    <a href="~/Movie/Index?category=Drama" class="btn btn-danger">Explore</a>
                </div>
            </div>
        </div>
        <!-- Horror Card -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/Img/Horror.jpg" class="card-img-top" alt="Horror">
                <div class="card-body">
                    <h5 class="card-title">Horror</h5>
                    <p class="card-text">Suspenseful and eerie, weaving fear and the supernatural into a thrilling experience...</p>
                    <a href="~/Movie/Index?category=Horror" class="btn btn-danger">Explore</a>
                </div>
            </div>
        </div> <!-- Musical Card -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/Img/Musical.jpg" class="card-img-top" alt="Musical">
                <div class="card-body">
                    <h5 class="card-title">Musical</h5>
                    <p class="card-text">Vibrant fusion of storytelling, music, and dance, creating an enchanting theatrical experience...</p>
                    <a href="~/Movie/Index?category=Musical" class="btn btn-danger">Explore</a>
                </div>
            </div>
        </div>
        <!-- Romance Card -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/Img/Romance.jpg" class="card-img-top" alt="Romance">
                <div class="card-body">
                    <h5 class="card-title">Romance</h5>
                    <p class="card-text">Captivating tales of love, exploring the emotional dynamics and joys of relationships...</p>
                    <a href="~/Movie/Index?category=Romance" class="btn btn-danger">Explore</a>
                </div>
            </div>
        </div>
        <!-- Sci-Fi -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="~/Img/Sci-Fi.jpg" class="card-img-top" alt="Sci-Fi">
                <div class="card-body">
                    <h5 class="card-title">Sci-Fi</h5>
                    <p class="card-text">Imaginative journeys into futuristic and speculative worlds, often interwoven with profound themes.</p>
                    <a href="~/Movie/Index?category=SciFi" class="btn btn-danger">Explore</a>
                </div>
            </div>
        </div>
        <!-- Repeat the structure for each category, changing the numbers and details accordingly -->
    </div>

    <!-- Show More Button -->
    <button id="showMoreButton" class="btn btn-danger mt-3">Show More</button>

    <!-- Inline JavaScript -->
    <script>document.getElementById('showMoreButton').addEventListener('click', function () {
            var additionalCategories = document.getElementById('additionalCategories');
            if (additionalCategories.classList.contains('d-none')) {
                additionalCategories.classList.remove('d-none');
                this.textContent = 'Show Less';
            } else {
                additionalCategories.classList.add('d-none');
                this.textContent = 'Show More';
            }
        });</script>


    <!-- Popular Content Section -->
    <h3 class="mb-3">Popular Movies</h3>
    <div class="row">
        <div class="col-md-4 mb-3">
            <!-- The Hobbit Card -->
            <div class="card">
                <img src="~/Img/TheHobbit.jpg" class="card-img-top" alt="The Hobbit">
                <div class="card-body">
                    <h5 class="card-title">The Hobbit: An Unexpected Journey </h5>
                    <p class="card-text">"An epic fantasy adventure film that follows the journey of Bilbo Baggins, a hobbit who joins a group of dwarves and the wizard Gandalf to reclaim their homeland from the dragon Smaug.</p>
                    <a href="~/Movie/Index?title=The%20Hobbit%3A%20An%20Unexpected%20Journey" class="btn btn-danger">Watch Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <!-- Titanic Card -->
            <div class="card">
                <img src="~/Img/Titanic.jpg" class="card-img-top" alt="Titanic">
                <div class="card-body">
                    <h5 class="card-title">Titanic: Jacks Revenge</h5>
                    <p class="card-text">"A sequel to Titanic where Jack, miraculously survives the original tragedy, becomes entangled in a twisted plot of revenge and deceit, ultimately leading to a dramatic and unexpected confrontation where he takes the life of Rose.</p>
                    <a href="~/Movie/Index?title=Titanic%3A%20Jack%27s%20Revenge" class="btn btn-danger">Watch Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <!-- The Goonies Card -->
            <div class="card">
                <img src="~/Img/TheGoonies.jpg" class="card-img-top" alt="The Goonies">
                <div class="card-body">
                    <h5 class="card-title">The Goonies</h5>
                    <p class="card-text">"A classic adventure film about a group of young friends who discover an ancient map and embark on an exciting quest to find a legendary pirate's long-lost treasure.</p>
                    <a href="~/Movie/Index?title=The%20Goonies" class="btn btn-danger">Watch Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
