@model Group_6_Final_Project.Models.Review

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<br />
<h1>Create Review</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="hidden" asp-for="MovieID" />
            </div>

            <div class="text-danger">
                @if (ViewBag.ReviewCreateError != null)
                {
                    @ViewBag.ReviewCreateError
                }
            </div>

            <!--Pre-filled Movie Title-->
            <p>
                <div class="form-group">
                    <label asp-for="MovieID" class="control-label" style="font-weight: bold;">Movie Title:</label>
                    <select asp-for="MovieID" class="form-control" asp-items="ViewBag.MovieID" disabled>
                        <option value="@ViewData["SelectedMovieID"]" selected="selected">@ViewData["SelectedMovieID"]</option>
                    </select>
                </div>
            </p>

            <!--Radio Buttons for Rating-->
            <p>
                <div class="form-group">
                    <label class="control-label" style="font-weight: bold;">Rating:</label>
                    @for (int i = 1; i <= 5; i++)
                    {
                        <label class="radio-inline">
                            <input type="radio" asp-for="Rating" value="@i" /> @i
                        </label>
                    }
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
            </p>

            <p>
                <div class="form-group">
                    <label asp-for="Description" class="control-label" style="font-weight: bold;"></label>
                    <textarea asp-for="Description" class="form-control" maxlength="280" id="descriptionTextArea" oninput="updateCharacterCount(this)"></textarea>
                    <span id="descriptionCount" class="text-muted">280 characters remaining</span>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </p>

            <div class="form-group">
                <input type="hidden" asp-for="Status" />
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a asp-action="Index" asp-controller="Transaction" class="btn btn-danger">Back to List</a>
</div>

<!--Changing the value for characters remaining in description-->
<script>function updateCharacterCount(textarea) {
        var remainingChars = textarea.maxLength - textarea.value.length;
        document.getElementById('descriptionCount').textContent = remainingChars + " characters remaining";
    }</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
