<h2>Press these buttons to seed!</h2>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">Seed Roles</a>
<a asp-action="SeedPeople" asp-controller="Seed" class="btn btn-success">Seed People</a>
<a asp-action="SeedGenre" asp-controller="Seed" class="btn btn-danger">Seed Genre</a>
<a asp-action="SeedMovie" asp-controller="Seed" class="btn btn-warning">Seed Movies</a>
<a asp-action="SeedPrices" asp-controller="Seed" class="btn btn-info">Seed Prices</a>
<a asp-action="SeedSchedule" asp-controller="Seed" class="btn btn-danger">Seed Schedule</a>
<a asp-action="SeedReviews" asp-controller="Seed" class="btn btn-dark">Seed Reviews</a>
<a asp-action="SeedTransaction" asp-controller="Seed" class="btn btn-secondary">Seed Transaction and Details</a>

